<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<h1>Authors List</h1>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last Name</th>
        <th>Books</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.firstName}"></td>
        <td th:text="${author.lastName}"></td>
        <td>
            <span th:each="book, iterStat : ${author.books}" th:text="!${iterStat.last} ?
            ${book.title} + ', ' :
            ${book.title}"></span>
        </td>
    </tr>
</table>
</body>

</html>